body, html {
    height: 100%;
	
}

.body2{
	
	width:910px;
	padding: 50px; /* increase border*/
	border: 2px solid #e9e9e9;
	margin: 8%;
	position: absolute;
	top: 140px;
    left: 110px;
	
}
#shopping-cart table{width:100%;background-color:#F0F0F0;}
#shopping-cart table td{background-color:#FFFFFF;}

.txt-heading{    
	padding: 10px 10px;
    border-radius: 2px;
    color: #FFF;
    background: #6aadf1;
	margin-bottom:10px;
}
a.btnRemoveAction{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}
a.btnRemoveAction:visited{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}

#btnEmpty {
	background-color: #ffffff;
    border: #FFF 1px solid;
    padding: 1px 10px;
    color: #ff0000;
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
}
.btnAddAction{    background-color: #eb9e4f;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 2px;
}
#shopping-cart {margin-bottom:30px;}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
#product-grid {margin-bottom:350px;}
.product-item {	float:left;	background: #ffffff;margin:15px 40px;	padding:5px;border:#CCC 1px solid;border-radius:4px;} /*space between products*/
.product-item div{text-align:center;	margin:10px;}
.product-price {    
	color: #005dbb;
    font-weight: 600;
}
.product-image {height:100px;background-color:#FFF;}
.clear-float{clear:both;}
.demo-input-box{border-radius:2px;border:#CCC 1px solid;padding:2px 1px;}


/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("../image/logo/logo3.jpg");

    /* Set a specific height */
    height: 20%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.menu {
    /* The image used */
    

    /* Set a specific height */
    height: 20%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	
	
}
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  margin: 0.01%; /**space **/
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

.subnav {
  /**padding-left: 200px;**/
  width: 1100px;
  padding: 10px;
 /** border: 2px solid red;**/
  margin: 1%; 
  position: absolute;
  top: 180px;
  left: 200px;
  background-color: #e9e9e9;
  
 
}

/* The sidebar menu */
.sidenav {
    height: 30%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
   /** z-index: 1; /* Stay on top */
    top: 200; /* Stay at the top */
    left: 200;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
	margin: 1%; /**space **/
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.content{
	 height: 25%;
	width: 1050px;
  padding: 20px;
  border: 2px solid #e9e9e9;
  margin: 8%; 
  position: absolute;
  top: 180px;
  left: 110px;
 /* background-color: #e9e9e9;*/
  
	
}

.footer {
	width: 1300px;
  padding: 10px;
 /** border: 2px solid red;**/
  margin: 1%; 
  position: absolute;
  top: 480px;
  /*left: 100px;*/
  background-color: #e9e9e9;
	
}


.items#item1{
	
	  background-color: #e9e9e9;
	  border: 2px solid red;
	  width: 150px;
	  text-align: center;
	   position: absolute;

	
}

.items#item2{
	
	  background-color: #e9e9e9;
	  border: 2px solid red;
	  width: 150px;
	  text-align: center;
	   position: absolute;
	   left: 300px;
	   
}

.items#item3{
	
	  background-color: #e9e9e9;
	  border: 2px solid red;
	  width: 150px;
	  text-align: center;
	   position: absolute;
	   left: 600px;
	
}

.items#item4{
	
	  background-color: #e9e9e9;
	  border: 2px solid red;
	  width: 150px;
	  text-align: center;
	   position: absolute;
	   left: 900px;
	
}

.items#item13{
	
	  /**background-color: #e9e9e9;**/
	  /**border: 2px solid red;**/
	  width: 200px;
	  position: absolute;
	  top : 1px;
	   
	}
	
	#pimg{
		
	}
	
	#ptext{
		text-align: center;
		
	}
	
	#pbut{

	text-align: center;
		
	}
	
.footer2 {
	width: 1300px;
  padding: 10px;
 /** border: 2px solid red;**/
  margin: 1%; 
  position: absolute;
  top: 800px;
  /*left: 100px;*/
  background-color: #e9e9e9;
  text-align: center;
	
}

.content2{
	 height: 55%;
	width: 1050px;
  padding: 20px;
  border: 2px solid red;
  margin: 8%; 
  position: absolute;
  top: 180px;
  left: 110px;
 /* background-color: #e9e9e9;*/
  
	
}

.sidenav2 {
    height: 80%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
   /** z-index: 1; /* Stay on top */
    top: 200; /* Stay at the top */
    left: 200;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px;
	margin: 1%; /**space **/
}

/* The navigation menu links */
.sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav2 a:hover {
    color: #f1f1f1;
}
